.page {
    margin: 0 auto;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    color: var(--white-color);
    background-color: var(--dark-gray-bg-color);
    font-family: "Inter", "Arial", sans-serif;
}