.places {
    margin: 0 auto;
    /*max-width: 1184px;*/
    width: calc(100% - 2*148px);
}

@media screen and (max-width: 1024px) {
    .places {
        width: calc(100% - 2*48px);
    }
}

@media screen and (max-width: 768px) {
    .places {
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width: 450px) {
    .places {
        width: 100%;
    }
}