.place__image {
    max-width: 460px;
}

@media screen and (max-width: 1024px) {
    .place__image {
        width: 43vw;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        width: 44vw;
    }
}

@media screen and (max-width: 700px) {
    .place__image {
        width: 320px;
        object-fit: cover;
    }
}

@media screen and (max-width: 460px) {
    .place__image {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 355px) {
    .place__image {
        width: 100%;
        margin: 0;
    }
}