.content__cover {
    margin-bottom: 94px;
}

@media screen and (max-width: 768px) {
    .content__cover {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 450px) {
    .content__cover {
        margin-bottom: 62px;
    }
}