.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 48px;
}

@media screen and (max-width: 760px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
    }
}


