.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1184px;
    width: calc(100% - 96px);
}

@media screen and (max-width: 768px){
    .footer {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 450px){
    .footer {
        width: 100%;
        flex-direction: column;
    }
}